
/* --------------------------- modal --------------------------- */
/* .modal{z-index: 5000; width: 100%; height: 100%; background-color: rgba(0,0,0,.5); position: fixed; display:none;} */
.modal{z-index: 5000; width: 100%; height: 100%; background-color: rgba(0,0,0,.5); position: fixed; display:block;}
.popup-wrap{position:absolute; top:0; bottom:0; left:0; right:0; display:flex; align-items:center; justify-content: center; display:-webkit-flex; -webkit-align-item: center; -webkit-justify-content: center;}
.layer-popup{z-index: 5100; background:#fff; width:100%; max-width:750px; border-radius:10px; overflow:hidden;}

/* login(s) */
.top-title-wrap {text-align: center; margin:40px auto 0;}
.top-title-wrap > .title{ font-size:48px; font-weight:bold; height:70px; line-height:68px;}

.login-box {padding: 40px;}
.login-box .login-method a {display: block; background: #bbbbbb; padding: 15px; border-radius: 25px; font-weight: bold; color: #000; text-align: center; font-size: 15px; margin-bottom: 20px;}
.sign-up-wrap {display: flex; justify-content: space-evenly; width: 50%; margin: auto;}

/* login(e) */
