<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boardMapper">

	<resultMap type="Board" id="board_rm">
		<id property="boardNo" column="BOARD_NO"/>


		<result property="boardTitle" column="BOARD_TITLE"/>
		<result property="boardContent" column="BOARD_CONTENT"/>
		<result property="createDate" column="BOARD_CREATE_DT"/>
		<result property="modifyDate" column="BOARD_MODIFY_DT"/>
		<result property="replyCheckCode" column="REPLY_CHECK_CD"/>
		<result property="scrapCheckCode" column="SCRAP_CHECK_CD"/>
		<result property="anonCheckCode" column="ANON_CHECK_CD"/>
		<result property="empathyCheckCode" column="EM_CHECK_CD"/>
		<result property="readCount" column="BOARD_READ_COUNT"/>
		<result property="memberNo" column="MEMBER_NO"/>
		<result property="memberFn" column="MEMBER_FN"/>
		<result property="memberId" column="MEMBER_ID"/>
		<result property="professionNo" column="PROFESSION_NO"/>
		<result property="professionName" column="PROFESSION_NM"/>
		<result property="statusCode" column="BOARD_STATUS_CD"/>
		<result property="boardCategoryCode" column="BOARD_CATEGORY_CD"/>
		<result property="boardCategoryName" column="BOARD_CATEGORY_NM"/>
		<result property="worryCategoryCode" column="WORRY_CATEGORY_CD"/>
		<result property="worryCategoryName" column="WORRY_CATEGORY_NM"/>
		
		<result property="replyCount" column="REPLY_COUNT"/>
		<result property="memberImage" column="MEMBER_IMAGE"/>

		<result property="professionImage" column="PROFESSION_IMAGE"/>
		
		<result property="likeCount" column="L_COUNT"/>
		<result property="cheerCount" column="C_COUNT"/>
		<result property="sadCount" column="SA_COUNT"/>
		<result property="angryCount" column="A_COUNT"/>
		<result property="surpriseCount" column="SU_COUNT"/>
		<result property="profrssionImage" column="PROFESSION_IMAGE"/>

		<result property="worryEmpathyArray" column="EMPATHY_ARRAY"/>
		<result property="worryCntArray" column="CNT_ARRAY"/>
		<!--
		<collection property="imgList" column="BOARD_NO"
					javaType="java.util.ArrayList" ofType="Image" select="selectBoardImageList"/>-->

		<!--<collection property="profileImgList" column="BOARD_NO"
					javaType="java.util.ArrayList" ofType="Image" select="selectProfileImageList"/>
		<collection property="emList" column="BOARD_NO"
						javaType="java.util.ArrayList" ofType="Empathy" select="selectEmpathyList"/>-->
	</resultMap>


	<resultMap type="Image" id="image_rm">
		<id property="imageNo" column="IMAGE_NO"/>
		<result property="imagePath" column="IMAGE_PATH"/>
		<result property="imageName" column="IMAGE_NM"/>
		<result property="imageOriginal" column="IMAGE_ORIGINAL"/>
		<result property="imageLevel" column="IMAGE_LEVEL"/>
		<result property="memberNo" column="MEMBER_NO"/>
		<result property="boardNo" column="PROFESSION_NO"/>
		<result property="professionNo" column="BOARD_NO"/>
	</resultMap>

    <resultMap type="Empathy" id="empathy_rm">
    	<result property="memberNo" column="MEMBER_NO"/>
    	<result property="boardNo" column="BOARD_NO"/>
    	<result property="empathyStatusCode" column="EMPATHY_STATUS_CD"/>

    </resultMap>

    <!--<resultMap type="EmpathyStatus" id="empathyStatus_rm">
    	<id property="empathyStatusCode" column="EMPATHY_STATUS_CD"/>

    	<result property="empathyStatusName" column="EMPATHY_STATUS_NM"/>
    </resultMap>-->

		<!-- 특정 게시판 이미지 조회-->

		<!-- 게시판 이미지 조회-->
	<select id="selectBoardImageList" resultMap="image_rm">
		<if test="#{boardNo} != null ">
			SELECT * FROM IMAGE
			WHERE BOARD_NO = #{boardNo}
			ORDER BY IMAGE_LEVEL
		</if>
	</select>

	
	<!-- 게시판 이미지 삽입 -->
	<insert id="insertImgList" >
		
   		INSERT INTO IMAGE VALUES (SEQ_IMAGE_NO.NEXTVAL, #{imagePath},
					 #{imageName},
					 #{imageOriginal},
					 #{imageLevel},
					 DEFAULT,DEFAULT,
					 #{boardNo})
   </insert>

	<!-- 자유게시판 글쓴사람 프로필 사진  -->
	<select id="">
		SELECT IMAGE_PATH 
		FROM IMAGE 
		WHERE MEMBER_NO = (SELECT BOARD_NO
							FROM BOARD
							WHERE BOARD_STATUS_CD = 201 
							AND BOARD_CATEGORY_CD = 101 )
	</select>
	

	<!-- 자유게시판 조회-->
	<select id="selectBoardList" resultMap="board_rm">
	<![CDATA[
		SELECT BOARD_NO,BOARD_CONTENT,
				TO_CHAR(BOARD_CREATE_DT, 'YYYY-MM-DD') "BOARD_CREATE_DT",
				TO_CHAR(BOARD_MODIFY_DT, 'YYYY-MM-DD')  "BOARD_MODIFY_DT", SCRAP_CHECK_CD,MEMBER_NO,EM_CHECK_CD,ANON_CHECK_CD
		FROM BOARD
		WHERE BOARD_STATUS_CD = 201 
		AND BOARD_CATEGORY_CD = 101
		ORDER BY BOARD_NO DESC
		
		]]>
	</select>
	
	    	
	<!-- 공감조회 -->
	<select id="selectEmpathyList" resultMap="empathy_rm">
		<if test="boardNo != null">
			SELECT EMPATHY_STATUS_NM, COUNT(MEMBER_NO)
			FROM EMPATHY JOIN EMPATHY_STATUS USING(EMPATHY_STATUS_CD)
			WHERE BOARD_NO = #{boardNo} GROUP BY EMPATHY_STATUS_NM
		</if>
	</select>
    
	
	<!-- 자유게시판 게시글 작성 -->
	<insert id="insertFreeboard"  useGeneratedKeys="true" parameterType="Board">
		
	    <selectKey order="BEFORE" resultType="_int" keyProperty="boardNo">
	         SELECT SEQ_BOARD_NO.NEXTVAL FROM DUAL
	    </selectKey>
	    
		INSERT INTO BOARD 
		VALUES(#{boardNo},DEFAULT, #{boardContent}, DEFAULT, DEFAULT, DEFAULT, 
				#{replyCheckCode},#{scrapCheckCode},#{boardCategoryCode},#{memberNo},
				DEFAULT,DEFAULT,#{empathyCheckCode},DEFAULT,DEFAULT)
	</insert>
	
	<!-- 게시글 상세조회 -->
	<select id="selectBoard" resultMap="board_rm">
		SELECT b.BOARD_NO, b.BOARD_TITLE, b.BOARD_CONTENT, 
    			e.EMPATHY_ARRAY, e.CNT_ARRAY
		FROM BOARD b
		LEFT JOIN (
		    SELECT 
		        a.BOARD_NO,
		        LISTAGG(  a.EMPATHY_STATUS_CD, ',' ) WITHIN GROUP (ORDER BY a.EMPATHY_STATUS_CD) AS EMPATHY_ARRAY,
		        LISTAGG(  a.cnt, ',' ) WITHIN GROUP (ORDER BY a.cnt) AS CNT_ARRAY
		    FROM (
		        SELECT BOARD_NO, EMPATHY_STATUS_CD, COUNT(EMPATHY_STATUS_CD) cnt
		        FROM EMPATHY
		        GROUP BY BOARD_NO, EMPATHY_STATUS_CD
		    ) a
    	GROUP BY BOARD_NO
		) e on e.BOARD_NO = b.BOARD_NO;
	</select>
	
	<update id="increaseReadCount">
		UPDATE BOARD SET 
		BOARD_READ_COUNT = BOARD_READ_COUNT+1 
		WHERE BOARD_NO = #{boardNo}
	</update>

	<!-- 고민상담 게시글 -->
	<select id="selectWorryList" resultMap="board_rm">
		SELECT MEMBER.MEMBER_NO, MEMBER_ID, MEMBER_NM,
			BOARD.BOARD_NO, BOARD_TITLE, BOARD_CONTENT, BOARD_CREATE_DT, BOARD.WORRY_CATEGORY_CD,
			w.WORRY_NM WORRY_CATEGORY_NM,
			e.EMPATHY_ARRAY, e.CNT_ARRAY
		FROM BOARD
		LEFT JOIN MEMBER ON MEMBER.MEMBER_NO = BOARD.MEMBER_NO
		LEFT JOIN WORRY_CATEGORY w ON w.worry_category_cd = BOARD.WORRY_CATEGORY_CD
		LEFT JOIN(
			SELECT
				a.BOARD_NO,
				LISTAGG(  a.EMPATHY_STATUS_CD, ',' ) WITHIN GROUP (ORDER BY a.EMPATHY_STATUS_CD) AS EMPATHY_ARRAY,
				LISTAGG(  a.cnt, ',' ) WITHIN GROUP (ORDER BY a.cnt) AS CNT_ARRAY
			FROM (
				SELECT BOARD_NO, EMPATHY_STATUS_CD, COUNT(EMPATHY_STATUS_CD) cnt
				FROM EMPATHY
				GROUP BY BOARD_NO, EMPATHY_STATUS_CD
			) a
			GROUP BY BOARD_NO
		) e on e.BOARD_NO = BOARD.BOARD_NO
		WHERE BOARD_CATEGORY_CD = #{boardCategoryCode}
		<if test="worryCategoryCode != null">
			AND BOARD.WORRY_CATEGORY_CD = #{worryCategoryCode}
		</if>
		<if test="searchCategory != null">
			<bind name="val" value="'%' + searchText + '%'"/>

			<choose>
				<when test="searchCategory == 'id'">
					AND MEMBER_ID LIKE #{val}
				</when>
				<otherwise>
					AND BOARD_CONTENT LIKE #{val}
				</otherwise>
			</choose>
		</if>
</select>
   
	<!-- 작성 날짜 역순 / 최신 순 -->
	<select id="myBoardList" resultMap="board_rm" >
		SELECT BOARD.MEMBER_NO, BOARD.BOARD_NO, BOARD_TITLE,
			   TO_CHAR(BOARD_CREATE_DT, 'YYYY-MM-DD') "BOARD_CREATE_DT",
			   BOARD_CATEGORY_NM, BOARD_READ_COUNT, MEMBER_FN, IMAGE_PATH, POST_NO
		FROM BOARD
				 JOIN MEMBER ON(MEMBER.MEMBER_NO = BOARD.MEMBER_NO)
				 JOIN BOARD_CATEGORY USING (BOARD_CATEGORY_CD)
				 LEFT JOIN IMAGE IMG ON(IMG.BOARD_NO = BOARD.BOARD_NO)
				 JOIN BOARD_STATUS ON (BOARD.BOARD_STATUS_CD = BOARD_STATUS.BOARD_STATUS_CD)
				 JOIN MIND_POST ON( BOARD_STATUS.BOARD_STATUS_CD = MIND_POST.BOARD_STATUS_CD)
		WHERE BOARD.MEMBER_NO = #{memberNo}
		  AND BOARD.BOARD_STATUS_CD = 201
		  AND STATUS_CD = 0
		ORDER BY BOARD_CREATE_DT DESC
	</select>

	<!-- 전체 게시글 수 count -->
	<select id="getBoardListCount" resultType="_int">
		SELECT COUNT(*) FROM BOARD
		WHERE BOARD_STATUS_CD != 203
		AND MEMBER_NO = #{memberNo}
	</select>

</mapper>
