<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="chatMapper">
    <resultMap id="chatMessage_rm" type="chatMessage">
    </resultMap>

    <select id="exeistsChat"  resultType="_int">
        SELECT NVL(MAX(CHATTING_NO), 0)
        FROM CHATTING_TEST
        WHERE RESERVATION_NO = #{reservationNo}
        AND MEMBER_NO = #{memberNo}
        AND PROFESSION_NO = #{professionNo}
        AND CHATTING_STATUS_CD = 1
    </select>

    <select id="selectChatMessage" resultMap="chatMessage_rm">
        SELECT MESSAGE,
               TO_CHAR(CREATE_DT, 'YYYY-MM-DD HH24:MI:SS') CREATE_DT,
               MEMBER_NO, PROFESSION_NO
        FROM CHATTING_MESSAGE_TEST
        WHERE CHATTING_NO = #{chatNo}
        ORDER BY CHAT_NO
    </select>

    <insert id="insertMessage">
        INSERT INTO CHATTING_MESSAGE_TEST VALUES(SEQ_CM_NO.NEXTVAL, #{message}, DEFAULT, #{professionNo}, #{memberNo}, #{chatNo})
    </insert>
</mapper>