<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="reservationMapper">
	
	<!-- 결제예약결제 vo -->
	<resultMap type="ReservationPayMent" id="reservationPayMent_rm">
		<id property="reservationPayNo" column="RESERVATION_PAY_NO"/>
		<result property="memberNo" column="MEMBER_NO"/>
		<result property="professionNo" column="PROFESSION_NO"/>
		<result property="totalCnt" column="TOTAL_CNT"/>
		<result property="usedCnt" column="USED_CNT"/>
		<result property="statusCode" column="STATUS_CD"/>
	</resultMap>
	
	<!-- 상담예약결제 insert -->
	<insert id="reservationPaymentInsert" useGeneratedKeys="true">
	
		<selectKey order="BEFORE" resultType="_int" keyProperty="reservationPayNo">
			SELECT SEQ_RESERVATION_PAYMENT_NO.NEXTVAL FROM DUAL
		</selectKey>

		INSERT INTO RESERVATION_PAYMENT 
		VALUES(#{reservationPayNo},3,24,#{totalCnt},DEFAULT,DEFAULT)
		
	</insert>
</mapper>
