<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="secretMapper">

	<resultMap type="Board" id="board_rm">
		<id property="boardNo" column="BOARD_NO"/>

		<result property="boardTitle" column="BOARD_TITLE"/>
		<result property="boardContent" column="BOARD_CONTENT"/>
		<result property="createDate" column="BOARD_CREATE_DT"/>
		<result property="modifyDate" column="BOARD_MODIFY_DT"/>
		<result property="replyCheckCode" column="REPLY_CHECK_CD"/>
		<result property="scrapCheckCode" column="SCRAP_CHECK_CD"/>
		<result property="anonCheckCode" column="ANON_CHECK_CD"/>
		<result property="empathyCheckCode" column="EM_CHECK_CD"/>
		<result property="readCount" column="BOARD_READ_COUNT"/>
		<result property="memberNo" column="MEMBER_NO"/>
		<result property="memberFn" column="MEMBER_FN"/>
		<result property="memberId" column="MEMBER_ID"/>
		<result property="professionNo" column="PROFESSION_NO"/>
		<result property="professionName" column="PROFESSION_NM"/>
		<result property="statusCode" column="BOARD_STATUS_CD"/>
		<result property="boardCategoryCode" column="BOARD_CATEGORY_CD"/>
		<result property="boardCategoryName" column="BOARD_CATEGORY_NM"/>
		<result property="worryCategoryCode" column="WORRY_CATEGORY_CD"/>
		<result property="worryCategoryName" column="WORRY_CATEGORY_NM"/>
		
		<result property="replyCount" column="REPLY_COUNT"/>
		<result property="memberImage" column="MEMBER_IMAGE"/>

		<result property="professionImage" column="PROFESSION_IMAGE"/>
		
		<result property="likeCount" column="L_COUNT"/>
		<result property="cheerCount" column="C_COUNT"/>
		<result property="sadCount" column="SA_COUNT"/>
		<result property="angryCount" column="A_COUNT"/>
		<result property="surpriseCount" column="SU_COUNT"/>
		<result property="profrssionImage" column="PROFESSION_IMAGE"/>

		<result property="worryEmpathyArray" column="EMPATHY_ARRAY"/>
		<result property="worryCntArray" column="CNT_ARRAY"/>


		<!--<collection property="imgList" column="BOARD_NO"
					javaType="java.util.ArrayList" ofType="Image" select="selectBoardImageList"/>
		<collection property="profileImgList" column="BOARD_NO"
					javaType="java.util.ArrayList" ofType="Image" select="selectFropileImageList"/>
		<collection property="emList" column="BOARD_NO"
					javaType="java.util.ArrayList" ofType="Empathy" select="selectEmpathyList"/>-->
	</resultMap>
	
	 <resultMap type="WorryCategory" id="worryCategory_rm">
    	<id property="worryCategoryCode" column="WORRY_CATEGORY_CD"/>
    	<result property="worryName" column="WORRY_NM"/>
    </resultMap>

 	<select id="selectWorryCategory" resultMap="worryCategory_rm">
    	SELECT WORRY_CATEGORY_CD,WORRY_NM FROM WORRY_CATEGORY
    </select>


	<!-- 털어놓기 게시글 -->
	<select id="selectSecretList" resultMap="board_rm">
		SELECT MEMBER.MEMBER_NO, MEMBER_ID, MEMBER_NM,
			BOARD.BOARD_NO, BOARD_TITLE, BOARD_CONTENT, BOARD_CREATE_DT,
			w.WORRY_CATEGORY_CD, w.WORRY_NM WORRY_CATEGORY_NM,
			e.EMPATHY_ARRAY, e.CNT_ARRAY
		FROM BOARD
		LEFT JOIN MEMBER ON MEMBER.MEMBER_NO = BOARD.MEMBER_NO
		LEFT JOIN WORRY_CATEGORY w ON w.worry_category_cd = BOARD.WORRY_CATEGORY_CD
		LEFT JOIN(
			SELECT
				a.BOARD_NO,
				LISTAGG(  a.EMPATHY_STATUS_CD, ',' ) WITHIN GROUP (ORDER BY a.EMPATHY_STATUS_CD) AS EMPATHY_ARRAY,
				LISTAGG(  a.cnt, ',' ) WITHIN GROUP (ORDER BY a.cnt) AS CNT_ARRAY
			FROM (
				SELECT BOARD_NO, EMPATHY_STATUS_CD, COUNT(EMPATHY_STATUS_CD) cnt
				FROM EMPATHY
				GROUP BY BOARD_NO, EMPATHY_STATUS_CD
			) a
			GROUP BY BOARD_NO
		) e on e.BOARD_NO = BOARD.BOARD_NO
		WHERE BOARD_CATEGORY_CD = 104
	</select>

</mapper>
