.admin{
    width: 100%;
    height: 60px;
    padding: 20px;
    background-color: #f8f8f8;
    font-weight: bold;
}
.admin a{color: black;}
.admin li{
    display: inline-block;
    width: 19%;
    text-align: center;
}

.underLine{border-bottom: 1px solid #ccc;}

.changeMember, .changeProfession{border: 1px solid #ccc; width: 80%;}
table{text-align: center;}