<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../../../../../../../../../Users/sosto/OneDrive/바탕%20화면/ex_prodect/mind/css/common.css">
    <!-- 글꼴 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap" rel="stylesheet">
    <!-- 아이콘 -->
    <script src="https://kit.fontawesome.com/5e0a99db98.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- 
    1. 태그는 되도록이면 section -> article -> div 순으로 작성해 주세요! 
    2. html,css, js 모두 tab(띄어쓰기)은 4칸입니다. 
    3. common.css에 기본 적인 폰트, 버튼, 컬러 클래스가 작성되어있습니다. 
    4. 만약 와이어프레임이 정확하지 않거나 헷갈리는 부분은 피그마에서 확인 후 단톡에 질문해 주세요
    5.  width는 %로 정해줍니다.
    -->

    <header>
        <!-- 헤더 -->
        <section class="header_wrap">
            <article class="header_logo_wrap">
                <img src="" alt="">
            </article>


            <!-- 헤더 메뉴 -->
            <article class="header_menu_wrap">
                <ul class="dep1">
                    <li>
                        <a href="#">상담예약</a>
                        <p class="menu_toggle">+</p>
                        <ul class="dep2">
                            <li><a href="#">상담사 찾기</a></li>
                            <li><a href="#">상담센터 찾기</a></li>
                            <li><a href="#">자가진단</a></li>
                        </ul>

                    </li>
                    <li>
                        <a href="#">커뮤니티</a>
                        <p class="menu_toggle">+</p>
                        <ul class="dep2">
                            <li><a href="#">자유게시판</a></li>
                            <li><a href="#">고민상담 게시판</a></li>
                            <li><a href="#">마인드 포스팃</a></li>
                            <li><a href="#">털어놓기</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">공지사항</a>
                        <p class="menu_toggle">+</p>
                        <ul class="dep2">
                            <li><a href="#">자유게시판</a></li>
                            <li><a href="#">고민상담 게시판</a></li>
                            <li><a href="#">마인드 포스팃</a></li>
                            <li><a href="#">털어놓기</a></li>
                        </ul>
                    </li>
                    <li>
                        <!-- 로그인 안했으면 로그인 버튼 -->
                        <!-- <a href="">로그인</a> -->
                        <a href="#">마이페이지</a>
                        <p class="menu_toggle">+</p>
                        <ul class="dep2">
                            <li><a href="#">감정기록</a></li>
                            <li><a href="#">마이 상담</a></li>
                            <li><a href="#">마이 활동</a></li>
                            <li><a href="#">마이 정보</a></li>
                        </ul>
                    </li>
                    <li>
                        <!-- 로그인 했으면 로그아웃 버튼 보이기
                            로그인 안했으면 회원가입 -->
                        <!-- <a href=""> 회원가입 </a>  -->
                        <a href="#">로그아웃</a>
                    </li>
                </ul>
                <a href="#" class="headermenu_togle">
                    <i class="fas fa-bars"></i>
                </a>
                <a href="#" class="headermenu_bell">
                    <i class="far fa-bell"></i>
                </a>
            </article>
        </section>
    </header>

    <main>
        <section class="main_wrap">

            <!-- 메인 배너 -->
            <article class="main_banner">
                <div>
                    <p class="main_banner_p1">마음 속 이야기를 들어주는</p>
                    <p class="main_banner_p2">RE MIND</p>
                    <button class="main_banner_btn" type="button" onclick="location.href='#';">
                        상담 예약
                    </button>
                </div>
            </article>

            <!-- 메인 컨텐트1 -->
            <article class="main_content1">
                <p>나의 상태가 궁금하다면 ?</p>
                <div>
                    <p>무료 자가진단</p>
                    <i class="fas fa-plus"></i>
                </div>
                <div>
                    <div>
                        <div class="main_content1_cir"></div>
                        <p>우울증</p>
                    </div>
                    <div>
                        <div class="main_content1_cir"></div>
                        <p>ADHD</p>
                    </div>
                    <div>
                        <div class="main_content1_cir"></div>
                        <p>스트레스</p>
                    </div>
                    <div>
                        <div class="main_content1_cir"></div>
                        <p>공황장애</p>
                    </div>
                    <div>
                        <div class="main_content1_cir"></div>
                        <p>자살생각</p>
                    </div>
                    <div>
                        <div class="main_content1_cir"></div>
                        <p>KH정보교육원</p>
                    </div>
                </div>

            </article>

            <!-- 메인 컨텐트2 -->
            <article class="main_content2">
                <div class="main_content2_bc"></div>
                <div class="main_content2_content">
                    <div>
                        <p>자신의 이야기를 들려주세요.</p>
                        <div>
                            <p>커뮤니티</p>
                            <i class="fas fa-plus"></i>
                        </div>
                    </div>
                    <div>
                        <div class="main_content2_content_board">
                            <button>#우울증</button>
                            <button>전문가답변</button>
                            <p>불면증/수면장애 고치고 싶어요ㅠㅠ</p>
                            <p>작년에 너무 힘들었고 그 동안은 스트레스를
                                받아도 잠은 자려고 했는데 언젠가부터 밤 새려고
                                하거나 새벽 늦게 자는 게 완전 습관이 돼
                                버렸어요 누워있다가 해뜰 때 자는 경우가 
                                대부분이고 당연히 밤낮 바뀌고요. 그래서인지
                                탈모도 약간 생긴 것 같고..일찍 자야겠다 마음
                                먹고 누워서 휴대폰을 안 봐도 잠을 못 자는데
                                정신과에서 약 처방받는 게 맞겠죠..?
                            </p>
                        </div>
                        <div class="main_content2_content_board">
                            <button>#우울증</button>
                            <button>전문가답변</button>
                            <p>불면증/수면장애 고치고 싶어요ㅠㅠ</p>
                            <p>작년에 너무 힘들었고 그 동안은 스트레스를
                                받아도 잠은 자려고 했는데 언젠가부터 밤 새려고
                                하거나 새벽 늦게 자는 게 완전 습관이 돼
                                버렸어요 누워있다가 해뜰 때 자는 경우가 
                                대부분이고 당연히 밤낮 바뀌고요. 그래서인지
                                탈모도 약간 생긴 것 같고..일찍 자야겠다 마음
                                먹고 누워서 휴대폰을 안 봐도 잠을 못 자는데
                                정신과에서 약 처방받는 게 맞겠죠..?
                            </p>
                        </div>
                        <div class="main_content2_content_board">
                            <button>#우울증</button>
                            <button>전문가답변</button>
                            <p>불면증/수면장애 고치고 싶어요ㅠㅠ</p>
                            <p>작년에 너무 힘들었고 그 동안은 스트레스를
                                받아도 잠은 자려고 했는데 언젠가부터 밤 새려고
                                하거나 새벽 늦게 자는 게 완전 습관이 돼
                                버렸어요 누워있다가 해뜰 때 자는 경우가 
                                대부분이고 당연히 밤낮 바뀌고요. 그래서인지
                                탈모도 약간 생긴 것 같고..일찍 자야겠다 마음
                                먹고 누워서 휴대폰을 안 봐도 잠을 못 자는데
                                정신과에서 약 처방받는 게 맞겠죠..?
                            </p>
                        </div>
                    </div>
                </div>
            </article>

            <!-- 메인 컨텐트 3 -->
            <article class="main_content3">
                <p>나에게 딱 맞는 전문가</p>
                <p>무료 상담으로 자신에게 맞는 전문가를 찾아보세요</p>

                <div>
                    <div>
                        <span>서승준</span>
                        <p>당신의 삶은 누가 통제합니까?</p>
                        <p>누구든지 자신의 삶의 빛을 스스로 찾을 수 있습니다.</p>
                        <span>#우울증</span> <span>#스트레스</span> <span>#가족/인간관계</span>
                        <div>
                            <button><i class="fas fa-phone-alt"></i> 전화상담</button>
                            <button><i class="fas fa-comments"></i> 실시간 채팅</button>
                        </div>
                    </div>

                    <!-- 이미지 영역 -->
                    <div>
                        <div></div>
                        <!-- <img src="http://dailymedi.com//wys2/file_attach/2020/02/02/1580643966-18.jpg"/> 
                            백그라운드 이미지로 대체 ( 누끼를 딴 규격에 맞는 프로필 사진을 참조)
                        -->
                    </div>
                </div>
            </article>

            <article class="main_content4">
                <div class="main_content4_bc"></div>
                <div class="main_content4_content">
                    <div style="border: 1px solid black;">
                        <div>새소식</div>
                        <div style="border: 3px solid; height: 580px; width: 100%;">
                            <div style="padding: 20px 10px; border: 1px solid;">
                                <div>
                                    <span>23</span>
                                    <span>2022.01</span>
                                </div>
                                <div>
                                    <p>
                                        지역사회서비스 제공 기관 / 바우처 서비스
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>




                    <div style="border: 1px solid black;"></div>
                </div>
            </article>




        </section>





        <!-- 메인 -->
    </main>

    <footer>
        <!-- 푸터 -->
        <section class="footer_wrap">
            <article>
                <p>Copyright © KH Information Educational Institute A-Class</p>
            </article>
        </section>
    </footer>
    <script src="../../../../../../../../../Users/sosto/OneDrive/바탕%20화면/ex_prodect/mind/js/common.js"></script>
</body>

</html>
