
/* 뒤로가기  */
input:focus, textarea:focus, select:focus{
    outline: none;}

.back_btn{
    margin: 20px;
    font-size: 25px;
}

.board_update_wrap, .back_btn, .comment_view_wrap{
    margin-left: 40px;
}

/* 프로필 사진 */
.profile_wrap{
    display: flex;
    justify-content: flex-start;
    align-items: center;

}
.profile_wrap> .writer_id{
    margin-left: 20px;
}
.writer_pic_wrap{
    vertical-align: top;
    display: inline-block;
    margin-right: 10px;
}

.writer_pic{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 0px solid;

}



/* 본문 내용 */

.board_update_wrap>.posting{
    min-height: 150px;
    margin-top: 20px;
}

.board_update_wrap>.posting>textarea{
    resize: none;
    display: block;
    width: 100%;
    min-height: 400px;
    border: 0px;
    background-color: #f8f8f8;
    padding: 15px;
}

/* 작성 옵션  */
.board_update_wrap>.btn_area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    margin-top: 0px;
}

.board_update_wrap>.btn_area>a{
    font-size: 25px;
}

.board_update_wrap>.btn_area>.write_option_area{
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 10px;
}
.option_btn {
    border-radius: 15px;
    min-width: 90px;
    height: 28px;
    font-size: 13px;
    line-height: 5px;
    border: 0px solid;
    color: white;
    font-weight: 500;
    cursor: pointer;
}

/* 수정삭제 버튼 */
.edit_btn_wrap{
    text-align: center;
}

.edit_btn_wrap>.edit_btn{
    border-radius: 5px;
    border: 1px solid #A59999;
    background: white;
    font-size: 13px;
    width: 100px;
    margin-top: 5px;
    text-align: center;
    line-height: 23px;
}

.hidden{
    display: none;
}

.m_side_menu{
    display: none;
}
.dark_brown_border{
    border: 1px solid #A59999;
}

.submit_btn{
    margin-left: 40px;
    margin-bottom: 10px;
    border-radius: 15px;
    min-width: 90px;
    height: 30px;
    font-size: 13px;
    line-height: 4px;
    border: 0px solid;
    color: white;
    font-weight: 500;
    cursor: pointer;
}
.worry_category_wrap{
    padding: 10px;
    border: 1px solid #ededed;
    margin-left: 40px;
    margin-bottom: 30px;
}

.worry_category_wrap>p{
    margin: 10px;
}

.worry_category> div{
    margin: 5px;
    
}

.worry_category{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.writing{
    width: 100%;
    display: inline-block;
}

/* 옵션 버튼 */
.check_box_wrap{
    margin-left: 5px;
}

.check_box_wrap>label>input[type="checkbox"]{
    display: none;
}
.check_box_wrap>label>input[type="radio"]{
    display: none;
}

.check_box_wrap>label{
    display: inline-block;
    border-radius: 15px;
    min-width: 90px;
    height: 28px;
    font-size: 13px;
    text-align: center;
    font-weight: 500;
    cursor: pointer;
    line-height: 27px;
}



/* ----------모바일 --------------- */
@media screen and (max-width: 768px){
    .side_menu{
        display: block;
        height: 105px;
    }
    .side_menu>h3{
        margin-bottom: 15px;
    
    }



    .side_menu_dep1{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
    }
    

    .side_menu>ul>li>a{
        margin-top: 10px;
        margin-bottom: 0px;
    }

    .w_side_menu{
        display: none;
    }
    .m_side_menu{
        text-align: center;
        display: block;
        line-height: 23px;
    }
    
    /* 게시팡 상세 */
    .board_update_wrap, .back_btn{
        margin-left: 10px;
    }

    .posting{
        margin-right: 10px;
    }

    .like_warp>div {
        margin-left: 10px;
        margin-right: 10px;
    }

    .btn_area{
        margin: 0px;
        margin-right: 10px;

    }
    
}